language: python
python:
- 2.6
- 2.7
- pypy
install:
- python setup.py develop
- pip install Attest
script:
- python -mattest.run plastictests.tests
notifications:
  irc:
    channels:
    - "irc.ozinger.org:8080#hongminhee"
    on_success: change
    on_failure: always
